@tailwind base;
@tailwind components;
@tailwind utilities;

/* 사용자 테마 설정 */
.theme-red {
  --bg-color: #ffffff;
  --accent-color: #e53935;
}

.theme-blue {
  --bg-color: #e3f2fd;
  --accent-color: #2196f3;
}

.theme-yellow {
  --bg-color: #fffde7;
  --accent-color: #fbc02d;
}

.theme-pink {
  --bg-color: #fce4ec;
  --accent-color: #ec407a;
}

.theme-green {
  --bg-color: #e8f5e9;
  --accent-color: #4caf50;
}

.theme-lavender {
  --bg-color: #f5f0ff;
  --accent-color: #b57edc;
}

.theme-lightpink {
  --bg-color: #fff0f5;
  --accent-color: #f8c8dc;
}

.theme-black {
  --bg-color: #191919;
  --accent-color: #2c2c2c;
}
.theme-black .theme-text {
  color: #ffffff;
}
.theme-black button {
  background-color: var(--accent-color);
  color: rgb(229, 229, 229);
}

.theme-brown {
  --bg-color: #bea488;
  --accent-color: #925e36;
}

.theme-orange {
  --bg-color: #ffbf80;
  --accent-color: #ff810b;
}


/* 전체 배경에 테마 적용 */
body {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

/* 버튼 색상 바꾸기 */
button {
  transition: background-color 0.3s ease;
}

.theme-red button {
  background-color: var(--accent-color);
}
.theme-blue button {
  background-color: var(--accent-color);
}
.theme-yellow button {
  background-color: var(--accent-color);
}
.theme-pink button {
  background-color: var(--accent-color);
}
.theme-green button {
  background-color: var(--accent-color);
}
.theme-lavender button {
  background-color: var(--accent-color);
}
.theme-lightpink button {
  background-color: var(--accent-color);
}
.theme-black button {
  background-color: var(--accent-color);
}
.theme-brown button {
  background-color: var(--accent-color);
}
.theme-orange button {
  background-color: var(--accent-color);
}


/* 상단 로고 배경색 바꾸기 */
.logo {
  background-color: var(--accent-color);
}
